/* navbar.css */
.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #ffffff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003049;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease;

}

.nav-links a:hover {
    color:#C1121F
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
}


.contact-info span {
    color: #669BBC;
}

.donate-button {
    background-color: transparent;
    border: 2px solid #222;
    color: #222;
    padding: 5px 15px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: Poppins;
    transition: all 0.3s ease;
}

.donate-button:hover {
    background-color: #222;
    color: #ffffff;
}
