/* header.css */
.header {
  background-image: url('../../../assets/media/images/phototwo.jpg'); 
  background-size: cover;
  background-position: center;
  color: #ffffff;
  /* padding: 20px; */
  text-align: center;
  position: relative;
  height: 100vh;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
}

.header-subtitle {
  font-size: 1.4rem;
  font-weight: 400;
}

.header-title {
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.5em 0;
}

.donation-button {
  background-color: #C1121F;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1em;
  border-radius: 30px;
}

.video-button {
  background-color: #003049;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 30px;
}
