
:root {
  /* Primary color - 60% */
  --primary-color: #140501;

  /* Secondary color - 30% */
  --secondary-color: #FCDFD9;

  /* Accent colors - 10% */
  --accent-color1: #C1121F;
  --accent-color1-rgb: 193, 18, 31; /* RGB equivalent of #C1121F */
  --accent-color2: #F6AA1C;
  --accent-color2-rgb: 246, 170, 28;
  --accent-color3: rgba(83, 153, 135);
}


body {
  font-family: 'Poppins', sans-serif; 
}

h1, h2, h3, h4, button, p {
  font-family: 'Poppins', sans-serif; 
}

